<!-- Navigation -->
<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container-fluid'>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      {{#link-to 'index' class='navbar-brand'}}
        <img alt='Brand' src='images/kabisa.png' class='logo'>
      {{/link-to}}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav'>
        <li>
        <a href='#'>About</a>
        </li>
        {{#link-to 'products' tagName='li'}}
          {{#link-to 'products' (query-params category='')}}Products{{/link-to}}
        {{/link-to}}
        <li>
        <a href='#'>Contact</a>
        </li>
      </ul>
      <form class='navbar-form navbar-right' role='search'>
        <div class='form-group has-feedback'>
          {{input value=search class='form-control' placeholder='Search'}}
          <span class='glyphicon glyphicon-search form-control-feedback'></span>
        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

{{outlet}}

<div class='container'>

  <hr>

  <!-- Footer -->
  <footer>
    <div class='row'>
      <div class='col-lg-12'>
        <p>Copyright &copy; Kabisa 2015</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->
