<header class='landing'>
  <img src='images/logo.png'>
</header>

<section class='landing-wrapper'>
  <div class='landing-content'>
    <h1 class='section-heading'>Ember <em>work</em>Shop</h1>
    <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>
